body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    color: #000;
    text-decoration: none;
    outline: none;
}

.button{
    display: inline-block;
    outline: none !important;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    transition: all 0.25s ease;
    cursor: pointer;
}
.button:hover{
    color: #000;
    background-color: #fff;
}

.App-header {
    background-color: #222;
    height: 100px;
    color: #ffffff;
    text-align: center;
}
.App-title{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    line-height: 100px;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
